.header__lang-link {
  margin: 0;
  padding-bottom: 5px;
  padding-left: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 540px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 7px;
  }
}

@media (prefers-color-scheme: light) {
  .header__lang-link {
    color: #2a2c2f;
  }
}

@media (prefers-color-scheme: dark) {
  .header__lang-link {
    color: #ffffff;
  }
}

@media (prefers-color-scheme: no-preference) {
  .header__lang-link {
    color: #ffffff;
  }
}
