.place__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

@media screen and (max-width: 960px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 97%;
  }
}

@media screen and (max-width: 540px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding-left: 5%;
    width: 90%;
  }
}
