.photo-grid {
  margin: 0;
  /* padding-left: 16px; */
  /* padding-right: 16px; */
  max-width: 1184px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}
