.place__url-addon {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #aaaaaa;
  text-transform: uppercase;
}

@media (prefers-color-scheme: light) {
  .place__url-addon {
    color: #555555;
  }
}

@media (prefers-color-scheme: dark) {
  .place__url-addon {
    color: #aaaaaa;
  }
}

@media (prefers-color-scheme: no-preference) {
  .place__url-addon {
    color: #aaaaaa;
  }
}
