.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  column-gap: 18px;
  grid-auto-flow: column;
}

@media screen and (max-width: 540px) {
  .footer__links {
    grid-auto-flow: row;
    gap: 32px;
  }
}
