.intro {
  margin: 0;
  width: 100%;
  max-width: 690px;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

@media screen and (max-width: 960px) {
  .intro {
    max-width: 720px;
  }
}
