.footer {
  margin: 0;
  padding-top: 92px;
  padding-bottom: 24px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 540px) {
  .footer {
    grid-auto-flow: row;
    padding-top: 64px;
    padding-bottom: 24px;
    gap: 48px;
  }
}
