.place__website {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 46px;
  align-self: end;
  align-items: flex-start;
}

@media screen and (max-width: 540px) {
  .place__website {
    padding-left: 5%;
    width: 90%;
  }
}
